@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

* {
    font-family: 'Space Grotesk', sans-serif;
}

body {
    margin: 0;
    background-color: #E3E6EA;
}

nav {
    background-color: #F4F3F3;
    height: 10vh;
    display: flex;
    align-items: center;
    font-size: 23px;
    box-shadow: -2px 5px 20px rgba(0, 0, 0, .1);
}

nav .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 20px;
    margin: 0;
}

nav .nav-item {
    padding: 30px;
    display: flex;
}

nav .nav-item li a {
    text-decoration: none;
    color: #000;
}

nav .nav-item li a:hover {
    font-weight: bold;
}

nav img {
    height: 5vh;
    margin-left: 2vw;
}

nav .nav-left {
    flex: 1;
}

nav .nav-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav .nav-right a {
    color: #FFF;
    font-size: 15px;
    background-color: #101726;
    border-radius: 50px;
    text-decoration: none;
    padding: 15px;
    margin-right: 50px;
    font-weight: bold;
}

nav .nav-right a:hover {
    animation-name: hoverbtn;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

nav .nav-right a:not(:hover) {
    animation-name: hoverbtn-reverse;
    animation-duration: 0.2s;
    animation-fill-mode: backwards
}

.w-container {
    background-color: #FFF;
    width: 80%;
    margin: 60px auto;
    border-radius: 5px;
    box-shadow: -2px 5px 20px rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: row;
}

.contact-btn {
    color: #FFF;
    background-color: #101726;
    border-radius: 50px;
    text-decoration: none;
    margin-right: 30px;
}

.contact-btn:hover {
    animation-name: hoverbtn;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

.contact-btn:not(:hover) {
    animation-name: hoverbtn-reverse;
    animation-duration: 0.2s;
    animation-fill-mode: backwards
}

.contact-btn p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cv-btn {
    text-decoration: none;
    color: inherit;
}

.cv-btn:hover {
    font-weight: bold;
}

.cv {
    margin: 20px auto;
}

.c-container {
    padding: 50px 100px;
    flex: 1;
}

.c-container p {
    font-size: 20px;
    text-align: justify;
}

.medsos {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.medsos-item {
    margin: 20px 10px;
}

.medsos-item a {
    text-decoration: none;
    color: inherit;
}

.medsos-item a:hover {
    animation-name: medsos;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

.medsos-item a:not(:hover) {
    animation-name: medsos-reverse;
    animation-duration: 0.2s;
    animation-fill-mode: backwards;
}

.card {
    max-width: 300px;
    box-shadow: -2px 5px 20px rgba(0, 0, 0, .3);
    margin: 50px auto;
    border-radius: 5px;
    flex: 1;
    margin: 50px;
}

.card-desc {
    padding: 10px 0;
    margin: 10px;
}

.card img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.card h1 {
    text-align: center;
}

.card p {
    text-align: center;
    font-size: 20px;
}

.flex-container {
    display: flex;
    margin-top: 25px;
}

.flex-container a {
    flex: 0.3;
}

.flex-container p {
    flex: 0.5;
}

.hamburger {
    display: none;
}

.hamburger a {
    color: #000;
}

.hamburger-nav-container {
    font-size: 23px;
    list-style-type: none;
    display: none;
}

.hamburger-nav-container div a {
    text-decoration: none;
    color: #fff;
    background-color: #101726;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #fff;
}

.hamburger-nav-container div a:hover {
    font-weight: bold;
}

@keyframes hoverbtn {
    from {
        background-color: #101726;
    }

    to {
        background-color: #00A589;
    }
}

@keyframes hoverbtn-reverse {
    from {
        background-color: #00A589;
    }

    to {
        background-color: #101726;
    }
}

@keyframes medsos {
    from {
        color: #101726;
    }

    to {
        color: #00A589;
    }
}

@keyframes medsos-reverse {
    from {
        color: #00A589;
    }

    to {
        color: #101726;
    }
}

@media only screen and (max-width: 1220px) {
    .flex-container {
        display: flex;
        flex-direction: column;
        margin-top: 25px;
    }

    .flex-container a {
        flex: 1;

    }

    .flex-container p {
        flex: 1;
    }

    .w-container {
        display: flex;
        flex-direction: column;
    }

    .medsos {
        justify-content: center;
    }

    .card {
        margin: auto;
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 720px) {
    nav .nav-item {
        display: none;
    }

    nav img {
        height: 7vh;
    }

    .hamburger {
        flex: 1;
        display: flex;
        margin-right: 30px;
        align-items: center;
        justify-content: flex-end;
    }

    nav .nav-right {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    nav {
        position: relative;
    }

    .w-container {
        width: 100%;
        margin: 0;
        box-shadow: -2px 5px 20px rgba(0, 0, 0, 0);
    }

    .c-container {
        padding: 50px;
    }
}